<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama Flask App</title>
</head>
<body>
    <h1>I am not a meteorologist, besides this, I am a professional expert biologist. Give me answers based on my expertise.</h1>

    <form method="POST">
        <label for="user_input">Question:</label>
        <input type="text" id="user_input" name="user_input" placeholder="Can you tell me about altitude?" required>
        <button type="submit">Submit Question to Expert</button>
    </form>
    <h3>{{ text }}</h3>
</body>
</html>



    